<% provide(:title, 'Редактирование записи в блоге') %>

<div class="breads" xmlns="http://www.w3.org/1999/html"><%= link_to "Back office", admin_path %>&nbsp;&rsaquo;&nbsp;<%= link_to "Управление постами", posts_path %>&nbsp;&rsaquo;&nbsp;Статьи и Новости</div>

<h1>Редактирование записи в блоге</h1>

<%= form_for(@post) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :text %>
    <%= f.text_area :text, :size => "70x10" %>
    <br/>
    <!--, :selected => Post::POSTTYPES.at(:pcid)-->
    <%= f.select(:pcid, Post::POSTTYPES.collect {|d| [d, Post::POSTTYPES.index(d)]}) %>
    <br/>
    <%= f.submit "Обновить" %>

<% end %>

<%= form_for @post, :html => { :method => :delete } do |f| %>
    <%= f.submit "Удалить" %>
<% end %>