<% provide(:title, 'Статьи') %>

<div class="breads" xmlns="http://www.w3.org/1999/html"><%= link_to "Back office", admin_path %>&nbsp;&rsaquo;&nbsp;Статьи
  и Новости
</div>

<h3>Статьи</h3>
<div class="row">

  <div class="span6">
    <div class="one-new">
      <% @posts.each do |post| %>
          <div class="metadata">
            <div class="published">
              <%= time_ago_in_words(post.created_at) %>
            </div>
          </div>
          <p><b><%= post.post_type %></b></p>
          <h4><%= link_to post.title, post_path(post) %></h4>

          <p><%= post.short_text %>...</p>

          <p>
            <%= link_to 'Изменить', edit_post_path(post) %>
          </p>

          <%= form_for post, :html => {:method => :delete} do |f| %>
              <%= f.submit "Удалить" %>
          <% end %>
          <hr/>

      <% end %>

    </div>
  </div>
</div>
<p>
  <%= link_to 'Новый пост', new_post_path %>
</p>